{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h2 class="fw-bold">
        <i class="bi bi-people-fill text-primary"></i>
        Employee Management
    </h2>

    {% if request.user.is_superuser %}
    <a href="{% url 'add_employee' %}" class="btn btn-primary">
        <i class="bi bi-person-plus-fill"></i>
        Add Employee
    </a>
    {% endif %}

</div>

<form method="GET" class="mb-4">

    <div class="input-group">

        <span class="input-group-text">

            <i class="bi bi-search"></i>

        </span>

        <input
            type="text"
            name="search"
            class="form-control"
            placeholder="Search employee..."
            value="{{ request.GET.search }}">

        <button class="btn btn-primary">
            Search
        </button>

    </div>

</form>

<div class="card shadow">

<div class="card-body p-0">

<div class="table-responsive">

<table class="table table-hover align-middle mb-0">

<thead class="table-dark">

<tr>

<th>ID</th>

<th>Photo</th>

<th>Name</th>

<th>Email</th>

<th>Phone</th>

<th>Department</th>

<th>Designation</th>

<th>Actions</th>

</tr>

</thead>

<tbody>

{% for employee in employees %}

<tr>

<td>#{{ employee.id }}</td>

<td>

{% if employee.photo %}

<img src="{{ employee.photo.url }}"
     width="55"
     height="55"
     class="rounded-circle">

{% else %}

<img src="{% static 'images/default-user.png' %}"
     width="55"
     height="55"
     class="rounded-circle">

{% endif %}

</td>

<td>

<strong>{{ employee.name }}</strong>

</td>

<td>{{ employee.email }}</td>

<td>{{ employee.phone }}</td>

<td>

<span class="badge bg-primary">

{{ employee.department }}

</span>

</td>

<td>{{ employee.designation }}</td>

<td>

<a href="{% url 'employee_detail' employee.id %}"
class="btn btn-info btn-sm">

<i class="bi bi-eye-fill"></i>

</a>

{% if request.user.is_superuser %}

<a href="{% url 'edit_employee' employee.id %}"
class="btn btn-warning btn-sm">

<i class="bi bi-pencil-square"></i>

</a>

<a href="{% url 'delete_employee' employee.id %}"
class="btn btn-danger btn-sm">

<i class="bi bi-trash-fill"></i>

</a>

{% endif %}

</td>

</tr>

{% empty %}

<tr>

<td colspan="8" class="text-center py-4">

<h5>No Employees Found</h5>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

</div>

<br>

<nav>

<ul class="pagination justify-content-center">

{% if employees.has_previous %}

<li class="page-item">

<a class="page-link"
href="?page={{ employees.previous_page_number }}&search={{ request.GET.search }}">

Previous

</a>

</li>

{% endif %}

<li class="page-item active">

<span class="page-link">

{{ employees.number }}

</span>

</li>

{% if employees.has_next %}

<li class="page-item">

<a class="page-link"
href="?page={{ employees.next_page_number }}&search={{ request.GET.search }}">

Next

</a>

</li>

{% endif %}

</ul>

</nav>

{% endblock %}